@model LmycWeb.Models.ApplicationUser

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ApplicationUser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MemberStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MemberStatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SkipperStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SkipperStatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Street)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Street)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Province)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Province)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PostalCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MobilePhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MobilePhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HomePhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HomePhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WorkPhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorkPhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SailingQualifications)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SailingQualifications)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Skills)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Skills)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SailingExperience)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SailingExperience)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Credits)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Credits)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmergencyContacts.Name1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmergencyContacts.Name1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmergencyContacts.Phone1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmergencyContacts.Phone1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmergencyContacts.Name2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmergencyContacts.Name2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmergencyContacts.Phone2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmergencyContacts.Phone2)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
